.tachado {
  text-decoration: line-through;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}

#tarjetas {
  display: flex;
  flex-direction: row;
}

#contenedor {
  display: flex;
  flex-direction: row;
}

.contenedor-formModal {
  display: flex;
  flex-direction: column;
}

#fecha,
#tarea,
#lugar,
#descripcion {
  width: 200px;
}
