<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span class="badge badge-primary">Home</span>

    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span class="badge badge-success">Agenda</span>

    </li>
  </ol>
</nav>
<div class="container">
  <div class="row align-items">
    <div class="col">
      <div class="card" style="width: 45rem; font-size: 14px; margin-left: 20%;">
        <div class="card-body">
          <h2 class="card-title" style="display: flex; justify-content: center; font-size: 20px;"><i
              class="far fa-calendar-check fa-2x" style="display: flex; justify-content: center; margin-right: 2%;"></i>
            Agenda</h2>
          <p class="card-text" style="display: flex; justify-content: center;"> {{fecha | date: 'fullDate'}}</p>
          <p class="card-text" style="display: flex; justify-content: center; font-weight: bold;">Tienes agendado
            {{tareas.length}}
            evento(s)</p>

          <div class="col-4" style="margin-left: 38%;">
            <button class="btn btn-success" data-toggle="modal" data-target="#addUser"><i
                class="far fa-plus-square"></i> Nuevo
              evento
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">

  <div class="row">
    <div *ngFor="let tarea of tareas;let indice = index;" [class.tachado]="tarea.terminada" class="col-lg-3 mt-3 mb-3">
      <div class="card text-center" style="height: 300px;">

        <div class="card-header">
          <input [(ngModel)]="tarea.terminada" (change)="cambiarEstadoDeTarea()" type="checkbox">
          <div style="margin-left: 1px; font-size: 15px;">
            <h6 class="card-title">{{tarea.nombre}}</h6>
            <div class="estado" *ngIf="tarea.terminada" style="color: green;">Tarea
              terminada</div>
            <div class="estado" *ngIf="!tarea.terminada" style="color: red;">Tarea sin terminar</div>
          </div>
          <a (click)="eliminarTarea(indice)" class="enlace-eliminar"><i class="fas fa-times-circle"
              style="color: red;"></i></a>
        </div>
        <div class="card-body">
          {{tarea.descripcion}}



        </div>
        <div class="card-footer text-muted">
          <i class="fas fa-location-arrow"></i> Lugar: {{tarea.lugar}} <br> <br>
          Fecha: {{tarea.fecha | date:'shortDate'}}
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: green;">
        <h5 class="modal-title w-100 text-center" style="color: honeydew;">Agregar tarea</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-2 col-md-offset-5"> <br>

        <input placeholder="Ingresa la tarea" type="text" [(ngModel)]="nombreTarea" id="tarea">
        <br>
        <br>
        <input placeholder="Elige la fecha" type="date" [(ngModel)]="fechaTarea" id="fecha"> <br> <br>
        <input placeholder="Escribe el lugar" type="text" [(ngModel)]="lugarTarea" id="lugar"> <br> <br>
        <input placeholder="Escribe una descripcion" type="text" [(ngModel)]="descripcionTarea" id="descripcion"> <br>
        <br>
        <button type="button" class="btn btn-success" style="margin-bottom: 10px;"
          [disabled]="!nombreTarea || !fechaTarea || !lugarTarea || !descripcionTarea"
          (click)="guardarTarea()">Guardar</button>
      </div>
    </div>

  </div>
</div>
