<div class="media">
  <h3 class="h3-responsive font-weight-bold mr-3">{{ value.hora }}</h3>
  <div class="media-body mb-3">
    <h6 class="mt-0 font-weight-bold">{{ value.asunto }}<i class="fas fa-minus-square"></i></h6>
    <hr class="hr-bold mb-0 my-2" />
    <p class="mb-0" *ngIf="value.lugar">
      <i class="fas fa-location-arrow"></i>
      {{ value.lugar }}
    </p>
  </div>
</div>
<p class="p-3 blue-grey lighten-5 blue-grey lighten-5" style="background-color:lightgray;" *ngIf="value.descripcion">
  {{ value.descripcion }}
</p>
<div class="row mt-3">
  <div class="text-center">
    <button type="button" class="btn btn-primary">Nuevo evento</button>
  </div>
</div>
