.card:hover {
  box-shadow: 10px 10px 10px 0px rgba(46, 61, 73, 0.2);
  background: lightsteelblue;
  color: white;
  transform: scale(0.9);
}

.card {
  width: 600px;
  margin-left: 5%;
  margin-right: 5%;
}

.card-title {
  display: flex;
  justify-content: center;
}

.card-text {
  display: flex;
  justify-content: center;
}
