<div class="row">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <span class="badge badge-primary">Home</span>

        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <span class="badge badge-success">Dashboard</span>

        </li>
      </ol>
    </nav>
  </div>
  <div class="card-group">
    <div class="card">

      <i class="far fa-calendar-check fa-10x" style="display: flex; justify-content: center;"></i>
      <div class="card-body">
        <h1 class="card-title">Agenda</h1>
        <button type="button" class="btn btn-outline-info" (click)="seccionAgenda()" style="margin-left: 27%;">Planifica
          tu día</button>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">

      </div>
    </div>
    <div class="card">
      <i class="far fa-newspaper fa-10x" style="display: flex; justify-content: center;"></i>
      <div class="card-body">
        <h1 class="card-title">Noticias</h1>
        <button type="button" class="btn btn-outline-info" style="margin-left: 34%;"
          (click)="seccionNews()">Infórmate</button>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">

      </div>
    </div>
    <div class="card">
      <i class="fas fa-thermometer-half fa-9x" style="display: flex; justify-content: center;"></i>
      <div class="card-body">
        <h1 class="card-title">Clima</h1>
        <button type="button" class="btn btn-outline-info" style="margin-left: 20%;" (click)="seccionClima()">Conoce el
          pronóstico</button>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>
